table {
		border-collapse:collapse;
		
		border-left:0px solid #686868;
		border-right:0px solid #686868;
		font:0.9em/145% 'Trebuchet MS',helvetica,arial,verdana;
		color: #333;
}

td, th {
		padding:1px;
}

caption {
		padding: 0 0 .5em 0;
		text-align: left;
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		background: transparent;
}

/* =links
----------------------------------------------- */

table a {
		color:#950000;
		text-decoration:none;
}

table a:link {}

table a:visited {
		font-weight:normal;
		color:#666;
		/*text-decoration: line-through;*/
}

table a:hover {
		border-bottom: 1px dashed #bbb;
}

/* =head =foot
----------------------------------------------- */

thead th, tfoot th, tfoot td {
		background:#333 ;
		color:#fff
}

tfoot td {
		text-align:right
}

/* =body
----------------------------------------------- */



td, th {
	vertical-align: middle;
}

tfoot td, tfoot th {
	font-weight: bold;
	padding: 4px 8px 6px 9px;
}

thead th {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	padding:  8px 2px 8px;
	white-space: nowrap;


tbody th a {
		color:#333;
}

.odd {}

tbody tr:hover {
		background:#fafafa
}
